header {
    background-color: #161b22;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    border-bottom: 1px solid #21262d;
}

body {
    margin: 0;
    background-color: #0d1117;
    font-family: Arial, sans-serif;
    color: #c9d1d9;
}

#menu {
    display: flex;
    align-items: center;
}

#logo {
    width: 50px;
    border-radius: 50%;
    margin-right: 15px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: #c9d1d9;
    padding: 8px 12px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

nav ul li a:hover {
    background-color: #27292b;
}

#footer {
    text-align: center;
    background-color: #161b22;
    color: #c9d1d9;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
    opacity: 100%;
    border-top: 1px solid #21262d;
    margin-top: 20px;
    
}

#pop-up{
    display: none;
    position: absolute;
    opacity: 100%;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
    border: 1px solid #21262d;
    background-color: #161b22;
    border-radius: 20px;
    padding: 20px;
    margin: 20px auto;
    transform:  translateY(-390px);
    
}

#pop-up-conteiner{
    display: grid;
    grid-template-columns: 20% 80%;
    padding: 5px;
}

#pop-up-conteiner img{
    padding:5px;
    margin-right: 40px;
    margin-bottom: 23px;
}

#criador{
    opacity: 100%;
    display: flex;
    justify-content: center;
    width: 50px;
   
}

.redondo{
    border-radius: 50%;
}