body {
    background-color: #121212;
    color: #fff;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.register {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.register-container {
    background-color: #1e1e1e;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    width: 300px;
    text-align: center;
}

.logo {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}

h2 {
    margin-bottom: 20px;
    font-size: 24px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

label {
    text-align: left;
    font-size: 12px;
}

input {
    padding: 10px;
    border: 1px solid #333;
    border-radius: 5px;
    background-color: #2a2a2a;
    color: #fff;
}

input:focus {
    outline: none;
    border: 1px solid #5294e2;
}

button {
    padding: 10px;
    background-color: #5294e2;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    background-color: #4079b2;
}

p {
    font-size: 12px;
}

a {
    color: #5294e2;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


.message {
    color: red;
    font-size: 16px;
    font-weight: bold;
    margin-top: 15px;
    text-align: center;
}


.success-message-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8); 
    z-index: 9999; 
}


.success-message {
    background-color: #1e1e1e; 
    color: rgb(255, 255, 255);
    padding: 30px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    font-size: 100px;
    font-weight: 600;
    max-width: 400px;
    width: 100%;
    border: 1px solid #5294e2;
}


.success-message a {
    color: #5294e2;
    font-weight: bold;
    text-decoration: none;
}

.success-message a:hover {
    text-decoration: underline;
}
